:root {
  --brand-color:#2569fd;
  --white-color:white;
  --dark-color:black;
  --bg-section:#eee;
}
/* start reset  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
ul,li {
  list-style: none;
}
/* end reset  */
/* component  */
.btn {
  border: none;
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--brand-color);
  color: var(--dark-color);
  transition: .3s;
}
.btn:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}
/* component  */
/* start section header  */
header {
  background-color: var(--brand-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: var(--dark-color);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
header ul {
  display: flex;
  min-height: 80.688px;
  align-items: center;
}
header ul li a {
  text-decoration: none;
  padding: 29px 10px;
  color: var(--dark-color);
  font-size: 18px;
  transition:0.3s;
  display: block;
  text-transform: uppercase;
}
header ul li a:hover,
header ul li a.active
{
  color: var(--white-color);
}
header .social i {
  font-size: 20px;
  color: var(--dark-color);
  transition: 0.3s;
}
header .social i:hover,
header .social i.active
{
  color: var(--white-color);
}
/* end section header  */
/* start section hero  */
.hero {
  margin-top: 80.688px;
  height:calc(100vh - 80.688px);
  position: relative;
  background-image: url(/assets/image/landing.jpg);
  background-size: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
  45deg, black 20%,
         rgba(3, 3, 3, 0.062)
  );
}
.hero .text {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  color: white;
}
.hero .text h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 10px;
}
.hero .text p {
  line-height:1.6;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
/* end section hero  */
/* start section services  */
.services {
  background-color: var(--bg-section);
}
.services .service .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 15px;
  text-align: center;
}
.services .service h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.services .service p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.services .service i {
  font-size: 50px;
  margin-bottom: 15px;
  color: var(--brand-color);
}
/* end section services  */
/* start section about  */
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 50vh;
}
.about .container .text {
  flex:1;
}
.about .container .text h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.about .container .text p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 10px;
}
.about .container .image {
  flex: 1;
  border-radius: 4px;
  overflow: hidden;
}
.about .container .image img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* end section about  */
/* start section Testimonials */
.Testimonials {
  background-color: var(--bg-section) ;
  height: 50vh;
  display: flex;
  align-items: center;
} 
.Testimonials .container h2 {
  text-align: center;
}
.Testimonials .container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* end section Testimonials */
/* start footer  */
footer .container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
footer .container a {
  color: var(--dark-color);
  transition: 0.3s;
}
footer .container a:hover {
  color: var(--brand-color);
}
/* end footer  */
/* Large Phones/tablets */
@media (max-width: 576px) {  }
/* Tablets (Portrait) */
@media (min-width: 767px) {  }
/* Desktops/Laptops */
@media (min-width: 992px) {  }
/* Large Desktops */
@media (min-width: 1200px) {  }