:root {
  --bg:#ffffff;
  --text: #0f172a;
  --card: #f8fafc;
  --primary: #2563eb;
  --secondary: #1c459e;
  --dark: #0f172a;
  --gray: #e6e6e6;
  --btn-space:10px;
}
/* start reset  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
body.dark {
  --bg: #0f172a;
  --text: #f8fafc;
  --card: #1e293b;
}
body {
  font-family: "Lexend", system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.7;
  padding-top: 80px;
}
body,
.card,
section,
header,
footer {
  transition:
  background-color 0.3s ease,
  color 0.3s ease;
}
.services,
.testimonials {
  background-color: var(--bg);
}
.srv,
.feature,
.testimonials .box {
  background-color: var(--card);
}
h1, h2, h3 {
  font-family: "Lexend", sans-serif;
  letter-spacing:  -0.5px;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
ul,li {
  list-style: none;
}
/* end reset  */
/* component  */
.btn {
  border: none;
  padding: var(--btn-space);
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: .3s;
  background-color: var(--primary);
}
.btn--primary:nth-of-type(2) {
  margin-left: 5px;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(37, 99, 235, .4);
}
.btn.outline {
  background: transparent;
  border: 2px solid white;
}
@media (max-width: 767px) {
  .btn {
      font-size: 13px;
      padding: 10px;
  }
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.reveal.delay-1 { transition-delay: 0.1s;}
.reveal.delay-1 { transition-delay: 0.2s;}
.reveal.delay-1 { transition-delay: 0.3s;}
.reveal.show {
  opacity: 1;
  transform: translateY(0);

}
/* component  */
/* start section header  */
header {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
  will-change: transform;
  
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80.688px;
}
header nav {
  display: flex;
  align-items: center;
}
header nav .toggle-menu {
  display: none;
}
@media (max-width: 767px) {
  header nav .toggle-menu {
    display: block;
    color: var(--dark);
  }
}
header .theme-toggle {
  background:none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color:  var(--dark);
  margin-left: 10px;
  transition: transform 0.3s ease;
}
header .theme-toggle:hover {
  transform: rotate(20deg);
}
header .logo {
  color: var(--dark);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  header .logo {
    font-size: 18px;
    letter-spacing:normal;
  }
}
@media (max-width: 991px) {
  header .logo {
    font-size: 16px;
  }
}
header ul {
  display: flex;
  min-height: 80.688px;
}
@media (max-width: 767px) {
  header ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color:var(--card);
    right: 0;
    left:0;
    top: 80px;
    pointer-events: none;

    max-height:0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease;
  }
}
header ul li a {
  text-decoration: none;
  padding: 29px 10px;
  color: var(--dark);
  font-size: 18px;
  transition:0.3s;
  display: block;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  header ul li a {
    padding-left: 10px;
    font-size: 16px;
    padding: 15px 10px;
    color: var(--text);
  }
  header ul li a:hover {
    padding-left:20px;
  }
  header ul.open {
    display: flex;
    max-height: 350px;
    opacity: 1;
    pointer-events: auto;
  }
}
@media (max-width: 991px) {
  header ul li a {
    font-size: 14px;
  }
}
header ul li a:hover,
header ul li a.active
{
  color: var(--primary);
}
header .social i {
  font-size: 20px;
  color: var(--dark);
  transition: 0.3s;
}
@media (max-width: 767px) {
  header .social i {
    display: none;
  }
}
header .social i:hover,
header .social i.active
{
  color: var(--card);
}
/* end section header  */

/* ======================
   Hero Section
====================== */
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:image-set(
  url("../image/landing.jpg") type("image/jpeg")
  );
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
/* Overlay */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg,
      rgba(0, 0, 0, 0.9) 20%,
      rgba(0, 0, 0, 0.2));
  z-index: 1;
}
/* Content */
.hero__content {
  position: relative;
  z-index: 2;
  max-width: 600px;
}
/* Title */
.hero__title {
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-weight: 800;
  color: #fff;
  margin-bottom: 10px;
}
@media (max-width: 400px) {
  .hero__title {
    font-size: 1.5rem;
  }
}
/* Description */
.hero__desc {
  font-size: clamp(0.9rem, 2vw, 1rem);
  line-height: 1.6;
  color: #e5e7eb;
  margin-bottom: 10px;
}
.hero__content button {
  color: white;
}
/* Mobile Optimization */
@media (max-width: 767px) {
  .hero {
    min-height: 65vh;
    text-align: center;
  }
}

/* start section services  */
.services {
  background-color: var(--bg);
  padding-top: 100px;
  color: var(--text);
}
.services .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
}
.services .srv {
  background: var(--card);
  border-radius: 16px;
  text-align: center;
  transition: .3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 20px;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.services .srv:hover {
  transform: translateY(-10px);
}
.services .srv h2 {
  font-size: 2rem;
  margin-bottom: 25px;
}
.services .srv p {
  font-size: 1rem;
  line-height: 1.5;
}
.services .srv i {
  font-size: 50px;
  margin-bottom: 15px;
  color: var(--primary);
}
/* end section services  */
/* start section projects */
.projects {
  padding-top: 100px;
  color: var(--text);
}
.projects .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
}
.projects h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2rem;
}
.projects .project-card {
  flex:1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: var(--card);
}
@media (max-width: 767px) {
  .projects .project-card {
    margin-bottom: 10px;
  }
}
.projects .project-card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.projects .project-link a {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s ease;
}
.project-link a:hover {
  background-color: var(--secondary);
}
/* end section projects */
/* start section about  */
.about {
  background-color: var(--card);
  padding-top: 100px;
  padding-bottom: 100px;
  color: var(--text);
}
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media (max-width: 767px) {
  .about .container {
    flex-direction: column-reverse;
  }
}
.about .container .text {
  flex:1;
}
.about .container .text h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.about .container .text p {
  font-size: 1rem;
  margin-bottom: 10px;
}
.about .container .image {
  flex: 1;
  border-radius: 4px;
  overflow: hidden;
  max-height: 100%;
}
.about .container .image img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* end section about  */
/* ======================
   Testimonials
====================== */
.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  background-color: var(--bg);
} 
.testimonials .section-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}
@media (max-width: 767px) {
  .testimonials .section-title {
    font-size: 1.8rem;
  }
}
/* slider */
.testimonials .testimonial-slider {
  overflow: hidden;
  max-width: 900px;
  margin:auto;
}
.testimonials .testimonial-track {
  display: flex;
  transition: transform 0.6s ease;
  will-change: transform;
}
.testimonial-slider {
  border-radius: 16px;
}
/* card */
.testimonials .testimonial-card {
  min-width: 100%;
  background-color: var(--card);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 5px 30px rgb(0, 0, 0, .08);
  overflow: hidden;
}
@media (max-width: 767px) {
  .testimonials .testimonial-card {
    padding: 20px;
  }
    .testimonials .testimonial-card p {
      font-size: 0.95rem;
    }
}
/* Client */
.testimonials .client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.testimonials .profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonials .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
}
.testimonials .profile .span {
  font-weight: 700;
}
.testimonials .stars i {
  color: #f59e0b;
  font-size: 0.9rem;
}
/* text card  */
.testimonials-card p {
  font-size: 1.05rem;
  line-height: 1.6;
  color: var(--text);
}
/* controls */
.testimonials .slider-controls {
  margin-top: 25px;
  text-align: center;
}
.testimonials .slider-controls button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background: var(--card);
  color: var(--text);
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 5px;
  box-shadow: 0px 0px 3px var(--text);
}
.testimonials .slider-controls button:hover {
  background: #2563eb;
}
/* end section testimonials */
/* start section contact  */
.contact {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.contact h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.contact p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}
.contact .box {
  padding: 10px;
  background-color: var(--card);
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
  color:var(--text);
}
.contact .contact-form {
  margin-bottom: 20px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius:4px;
  border: 1px solid #ddd;
  font-family: inherit;
  font-size: 14px;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--primary);
}
.contact-form textarea {
  resize: vertical;
  min-height: 170px;
}
.contact .form-group {
  position: relative;
}
.contact .form-group .valid-icon {
  position: absolute;
  right: 10px;
  top:50%;
  transform: translateY(-50%);
  color: green;
  display: none;
  animation: pop 0.35s ease forwards;
}
.error-msg {
  color: #dc2626;
  font-size: 12px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.form-success {
  margin-top: 10px;
  font-weight: 600;
  font-size: 0.9rem;
  transition: opacity 0.5s ease, max-height 0.5s ease;
  margin-top: 0.5rem;
  overflow: hidden;
  opacity: 0;
}
.form-success.show {
  opacity: 1;
  max-height: 100px;
}
/* message */
.form-success.sending {color: #3498db;}
.form-success.success {color: #22c55e;}
.form-success.error {color: #ef4444;}
/* end section contact  */
/* start footer  */
footer {
  background-color: var(--card);
  color: var(--text);
}
footer .container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 767px) {
  footer .container {
    justify-content: center;
  }
}
footer span {
  font-size: 16px;
}
footer .links {
  display:flex ;
  align-items: center;
  gap: 5px;
}
footer .links span {
  font-size: 14px;
  display: block;
}
footer .links a {
  color: var(--dark-color);
  transition: 0.3s;
}
footer .container a:hover {
  color: var(--primary);
}
/* end footer  */

/* Large Phones/tablets */
@media (max-width: 576px) {  }
/* Tablets (Portrait) */
@media (max-width: 767px) { 
  header,
  .hero,
  .services,
  .projects,
  .testimonials,
  .about,
  .contact {
    padding-top:20px;
    padding-bottom: 20px;
  }
 }
/* Desktops/Laptops */
@media (min-width: 992px) {  }
/* Large Desktops */
@media (min-width: 1200px) {  }



/* Email valid icon animation */
@keyframes pop {
  0% {
    transform: translateY(-50%) scale(0.6);
    opacity: 0;
  }
  60% {
    transform: translateY(-50%) scale(1.15);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}