:root {
  --primary: #2563eb;
  --light: #f8fafc;
  --dark: #0f172a;
  --gray: #e6e6e6;
}
/* start reset  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--dark);
  line-height: 1.7;
}
h1, h2, h3 {
  font-family: "Lexend", sans-serif;
  letter-spacing:  -0.5px;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
ul,li {
  list-style: none;
}
/* end reset  */
/* component  */
.btn {
  border: none;
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--light);
  transition: .3s;
}
.btn:nth-of-type(2) {
  margin-left: 5px;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(37, 99, 235, .4);
}
.btn.outline {
  background: transparent;
  border: 2px solid white;
}
@media (max-width: 767px) {
  .btn {
      font-size: 13px;
      padding: 10px;
  }
}
/* component  */
/* start section header  */
header {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80.688px;
}
header nav .toggle-menu {
  display: none;
}
@media (max-width: 767px) {
  header nav .toggle-menu {
    display: block;
  }
}
header .logo {
  color: var(--dark);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  header .logo {
    font-size: 18px;
    letter-spacing:normal;
  }
}
@media (max-width: 991px) {
  header .logo {
    font-size: 16px;
  }
}
header ul {
  display: flex;
  min-height: 80.688px;
}
@media (max-width: 767px) {
  header ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color:var(--light);
    right: 0;
    left:0;
    top: 80px;
    pointer-events: none;

    max-height:0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease;
  }
}
header ul li a {
  text-decoration: none;
  padding: 29px 10px;
  color: var(--dark);
  font-size: 18px;
  transition:0.3s;
  display: block;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  header ul li a {
    padding-left: 10px;
    font-size: 16px;
    padding: 15px 10px;
  }
  header ul li a:hover {
    padding-left:20px;
  }
  header ul.open {
    display: flex;
    max-height: 300px;
    opacity: 1;
    pointer-events: auto;
  }
}
@media (max-width: 991px) {
  header ul li a {
    font-size: 14px;
  }
}
header ul li a:hover,
header ul li a.active
{
  color: var(--primary);
}
header .social i {
  font-size: 20px;
  color: var(--dark);
  transition: 0.3s;
}
@media (max-width: 767px) {
  header .social i {
    display: none;
  }
}
header .social i:hover,
header .social i.active
{
  color: var(--light);
}
/* end section header  */
/* start section hero  */
.hero {
  height:calc(100vh + 88.594px);
  position: relative;
  background-image: url(../image/landing.jpg);
  background-size: cover;
}
@media (max-width: 767px) {
  .hero {
    height: 50vh;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
  45deg, black 20%,
         rgba(3, 3, 3, 0.062)
  );
}
.hero .text {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  max-width: 550px;
}
@media (max-width: 767px) {
  .hero .text {
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}
.hero .text h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: white;
  max-width: 600px;
}
@media (max-width: 767px) {
  .hero .text h1 {
    font-size: 1.5rem;
  }
}
.hero .text p {
  line-height:1.6;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #e5e7eb;
  max-width: 500px;
}
@media (max-width: 767px) {
  .hero .text p {
    font-size: .8rem;
  }
}
/* end section hero  */
/* start section services  */
.services {
  background-color: var(--dark);
  padding-top: 100px;
  padding-bottom: 100px;
  color: var(--light);
}
.services .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
}
@media (max-width: 991px) {
  
}
.services .srv {
  background: white;
  border-radius: 16px;
  text-align: center;
  transition: .3s;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
  margin-bottom: 10px;
  padding: 20px;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .srv:hover {
  transform: translateY(-10px);
}
.services .srv h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.services .srv p {
  font-size: 1rem;
  line-height: 1.5;
}
.services .srv i {
  font-size: 50px;
  margin-bottom: 15px;
  color: var(--primary);
}
/* end section services  */
/* start section about  */
.about {
  background-color: var(--light);
  padding-top: 100px;
  padding-bottom: 100px;
  color: var(--dark);
}
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media (max-width: 767px) {
  .about .container {
    flex-direction: column-reverse;
  }
}
.about .container .text {
  flex:1;
}
.about .container .text h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.about .container .text p {
  font-size: 1rem;
  margin-bottom: 10px;
}
.about .container .image {
  flex: 1;
  border-radius: 4px;
  overflow: hidden;
  max-height: 100%;
}
.about .container .image img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* end section about  */
/* start section testimonials */
.testimonials {
  background-color: var(--dark) ;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  color: var(--light);
} 
.testimonials .container h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2rem;
}
@media (max-width: 767px) {
  .testimonials .container h2 {
      font-size: 1.8rem;
  }
}
.testimonials .container .card {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 15px;
}
.testimonials .container .card .box {
  background-color: var(--light);
  padding: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #ccc;
  transition: transform .3s, box-shadow .3s;
  color: var(--dark);
}
.testimonials .box:hover {
  transform: translateY(-5px);
  box-shadow: 6px 6px 10px #bbb;
  cursor: pointer;
}
.testimonials .box .client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.testimonials .client .profile {
  display: flex;
  align-items: center;
  gap: 5px;
}
.testimonials .client .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}
.testimonials .box .client i {
  color:rgb(241, 209, 22);
}
/* end section testimonials */
/* start section contact  */
.cta {
  background-color: var(--light);
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: var(--dark);
}

.cta h2 {
  font-size: 2rem;
}
.cta p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}
/* end section contact  */
/* start footer  */
footer {
  background-color: var(--primary);
  color: var(--light);
}
footer .container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 767px) {
  footer .container {
    justify-content: center;
  }
}
footer span {
  font-size: 16px;
}
footer .links {
  display:flex ;
  align-items: center;
  gap: 5px;
}
footer .links span {
  font-size: 14px;
  color: var(--dark);
  display: block;
}
footer .links a {
  color: var(--dark-color);
  transition: 0.3s;
}
footer .container a:hover {
  color: var(--dark);
}
/* end footer  */

/* Large Phones/tablets */
@media (max-width: 576px) {  }
/* Tablets (Portrait) */
@media (min-width: 767px) {  }
/* Desktops/Laptops */
@media (min-width: 992px) {  }
/* Large Desktops */
@media (min-width: 1200px) {  }