:root {
  --brand-color:rgb(255, 33, 51);
  --white-color:white;
  --dark-color:black;
  --bg-section:#eee;
}
/* start reset  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--dark-color);
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
ul,li {
  list-style: none;
}
/* end reset  */
/* component  */
.btn {
  border: none;
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--brand-color);
  color: var(--dark-color);
  transition: .3s;
}
.btn:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}
/* component  */
/* start section header  */
header {
  background-color: var(--brand-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80.688px;
}
header .logo {
  color: var(--dark-color);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  header .logo {
    font-size: 18px;
    letter-spacing:normal;
  }
}
header ul {
  display: flex;
  min-height: 80.688px;
  align-items: center;
}
@media (max-width: 767px) {
  header ul {
    display: none;
  }
}
header ul li a {
  text-decoration: none;
  padding: 29px 10px;
  color: var(--dark-color);
  font-size: 18px;
  transition:0.3s;
  display: block;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  header ul li a {
    padding: 29px 6px;
    font-size: 16px;
  }
}
header ul li a:hover,
header ul li a.active
{
  color: var(--white-color);
}
header .social i {
  font-size: 20px;
  color: var(--dark-color);
  transition: 0.3s;
}
@media (max-width: 767px) {
  header .social i {
    font-size: 16px;
  }
}
header .social i:hover,
header .social i.active
{
  color: var(--white-color);
}
/* end section header  */
/* start section hero  */
.hero {
  margin-top: 80.688px;
  height:calc(100vh - 80.688px);
  position: relative;
  background-image: url(/assets/image/landing.jpg);
  background-size: cover;
}
@media (max-width: 767px) {
  .hero {
    height: calc(50vh - 80.688px);
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
  45deg, black 20%,
         rgba(3, 3, 3, 0.062)
  );
}
.hero .text {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  color: white;
  min-width: 350px;
}
@media (max-width: 767px) {
  .hero .text {
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.hero .text h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .hero .text h1 {
    font-size: 1.8rem;
  }
}
.hero .text p {
  line-height:1.6;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .hero .text p {
    font-size: .8rem;
  }
}
/* end section hero  */
/* start section services  */
.services {
  background-color: var(--bg-section);
  padding-top: 100px;
  padding-bottom: 100px;
}
.services .service .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}
@media (max-width: 991px) {
  .services .service .container {
    flex-direction: column;
  }
}
.services .service h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.services .service p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #7c7c7c;
}
.services .service i {
  font-size: 50px;
  margin-bottom: 15px;
  color: var(--brand-color);
}
/* end section services  */
/* start section about  */
.about {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media (max-width: 767px) {
  .about .container {
    flex-direction: column-reverse;
  }
}
.about .container .text {
  flex:1;
}
.about .container .text h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.about .container .text p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #7c7c7c;
}
.about .container .image {
  flex: 1;
  border-radius: 4px;
  overflow: hidden;
  max-height: 100%;
  box-shadow: 3px 3px 3px #ccc;
}
.about .container .image img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* end section about  */
/* start section Testimonials */
.Testimonials {
  background-color: var(--bg-section) ;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
} 
.Testimonials .container h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2rem;
}
@media (max-width: 767px) {
  .Testimonials .container h2 {
      font-size: 1.8rem;
  }
}
.Testimonials .container .card {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 15px;
}
.Testimonials .container .card .box {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #ccc;
  min-height: 100%;
}
.Testimonials .box .client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.Testimonials .client .profile {
  display: flex;
  align-items: center;
  gap: 5px;
}
.Testimonials .client .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
}
.Testimonials .box .client i {
  color:rgb(241, 209, 22);
}
.Testimonials .container .card .box p {
  color: #7c7c7c;
}
/* end section Testimonials */
/* start footer  */
footer {
  background-color: var(--brand-color);
  color: var(--dark-color);
}
footer .container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 767px) {
  footer .container {
    justify-content: center;
  }
}
footer span {
  font-size: 16px;
}
footer .links {
  display:flex ;
  align-items: center;
  gap: 5px;
}
footer .links span {
  font-size: 14px;
  color: var(--dark-color);
  display: block;
}
footer .links a {
  color: var(--dark-color);
  transition: 0.3s;
}
footer .container a:hover {
  color: var(--brand-color);
}
/* end footer  */
/* Large Phones/tablets */
@media (max-width: 576px) {  }
/* Tablets (Portrait) */
@media (min-width: 767px) {  }
/* Desktops/Laptops */
@media (min-width: 992px) {  }
/* Large Desktops */
@media (min-width: 1200px) {  }